<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container justify-content-center">
    <h4>New Profession</h4>
    <!-- <div class="col-6"> -->
        <form action="#" th:action="@{/professions/create}" th:object="${profession}" method="post">
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{name}" placeholder="Name" id="name">
            </div>
            <button type="submit" class="custom-btn">Create Profession</button>
        </form>
    <!-- </div> -->
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
