<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Hospital Management</title>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<header th:fragment="header">
    <div class="d-flex justify-content-center">
        <h1 style="margin-top: 20px; margin-bottom: 20px;">
            <a href="/" style="background-color: white; text-decoration: none; color:black;">
                Hospital Management System
            </a>
        </h1>
    </div>

    
    <ul class="nav justify-content-center navbar-expand-lg navbar-light" th:fragment="navigation" style="margin-bottom: 10px;">
        <li class="nav-item">
            <a class="nav-link" href="/professions/create-form">Create Profession</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/doctors/create-form">Create Doctor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/patients/create-form">Create Patient</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sick-leave/create-form">Create Sick Leave</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/doctorpatientgps/create-form">Create GP</a>
        </li>
      </ul>


      <ul class="nav justify-content-center navbar-expand-lg navbar-light" th:fragment="navigation" style="margin-bottom: 40px;">
        <li class="nav-item">
            <a class="nav-link" href="/professions/1/10">Professions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/doctors/1/10">Doctors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/patients/1/10">Patients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sick-leave/1/10">Sick Leaves</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/doctorpatientgps/1/10">GPs</a>
        </li>
      </ul>


</header>
<div class="navbar navbar-fixed-bottom">
    <footer page-footer font-small>
        <div class="footer-copyright text-center py-3">© 2022 Copyright:
            <a href="#">Hospital Management System</a>
        </div>
    </footer>
</div>
</html>
