<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<header th:replace="fragments :: header"></header>
    <div class="container justify-content-center"><div class="centered" style=" margin: 0;position: absolute;top: 50%;left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
        <h1 th:text="'Welcome'" style="text-align: center; vertical-align: middle;"></h1>
    </div>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
