<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container justify-content-center">
    <h4>New Patient</h4>
        <form action="#" th:action="@{/patients/create}" th:object="${patient}" method="post">
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{name}" placeholder="Name" id="name">
                <br>
                <input class="form-control" type="text" th:field="*{egn}" placeholder="Patient Egn" id="egn">
            </div>
            <button type="submit" class="custom-btn">Create Patient</button>
        </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
