<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container justify-content-center">
    <h3 th:unless="${pageOfPatients} and ${pageOfPatients.content.size}">There are no patients!</h3>
    <h2 th:if="${pageOfPatients.content.size>0}" th:text="${pageOfPatients.getTotalElements}"></h2>
    <table th:if="${pageOfPatients.content.size>0}" class="table table-hover">
        <th>Id</th>
        <th>Patient Name</th>
        <th>Patient Egn</th>
        <th>Assigned Diagnoses</th>
        <th>Paid Insurancess</th>
        <th>Sick Leaves</th>
        <th></th>
        <th></th>
        <tr th:each="patient : ${pageOfPatients.content}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.name}"></td>
            <td th:text="${patient.egn}"></td>
            <td><a class="custom-btn" th:href="@{/patientdiagnoses/patient/{id}(id=${patient.id})}">Diagnoses</a></td>
            <td><a class="custom-btn" th:href="@{/insurance/patient/{id}(id=${patient.id})}">Paid Insurances</a></td>
            <td><a class="custom-btn" th:href="@{/sick-leave/patient/{id}(id=${patient.id})}">Sick Leaves</a></td>
            <td><a class="custom-btn" th:href="@{/patients/{page}/10/edit/{id}(page=${currentPage}, id=${patient.id})}">Edit</a></td>
            <td th:if="${pageOfPatients.content.size>1}"><a class="custom-btn" th:href="@{/patients/{page}/10/delete/{id}(page=${currentPage}, id=${patient.id})}">Delete</a></td>
            <td th:if="${pageOfPatients.content.size<2} and ${currentPage!=1}"><a class="custom-btn" th:href="@{/patients/{page}/10/delete/{id}(page=${currentPage-1}, id=${patient.id})}">Delete</a></td>
            <td th:if="${pageOfPatients.content.size<2} and ${currentPage==1}"><a class="custom-btn" th:href="@{/patients/{page}/10/delete/{id}(page=1, id=${patient.id})}">Delete</a></td>
        </tr>
    </table>
    <span th:if="${pageOfPatients.totalPages > 0}"
         th:each="pageNumber : ${pageNumbers}" >
        <a th:href="@{/patients/{page}/{size}(page=${pageNumber}, size=${pageOfPatients.size})}" th:text="${pageNumber}">
           </a>
    </span>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>