<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container justify-content-center">
    <h4>New Insurance</h4>
        <form action="#" th:action="@{/insurance/create}" th:object="${insurance}" method="post">
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{date}" placeholder="ex: 2022-12-01" id="date">
                <br>
                <select class="form-control" th:field="${insurance.patient}" id="patient">
                    <option value="">Select patient</option>
                    <option th:each="patient : ${patients}" th:value="${patient.id}"
                            th:text="${patient.egn}"></option>
                </select>
            </div>
            <button type="submit" class="custom-btn">Create Insurance</button>
        </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
