<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container justify-content-center">
    <h3 th:unless="${insurances} and ${insurances.size()}">There are no insurances!</h3>
    <table th:if="${insurances.size()>0}" class="table table-hover">
        <th>Month</th>
        <th>Patient Id</th>
        <th></th>
        <tr th:each="insurance : ${insurances}">
            <td th:text="${insurance.date}"></td>
            <td th:text="${insurance.patient.id}"></td>
            <td><a class="custom-btn" th:href="@{'/insurance/delete/'+${insurance.id}}">Delete</a></td>
        </tr>
    </table>
    </div>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>