<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container justify-content-center">
    <h4>New Doctor</h4>
        <form action="#" th:action="@{/doctors/create}" th:object="${doctor}" method="post">
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{name}" placeholder="Name" id="name">
                <br>
                <select class="form-control" th:field="${doctor.profession}" id="profession">
                    <option value="">Select profession</option>
                    <option th:each="profession : ${professions}" th:value="${profession.id}"
                            th:text="${profession.name}"></option>
                </select>
            </div>
            <button type="submit" class="custom-btn">Create Doctor</button>
        </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
