<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container justify-content-center">
    <h3 th:unless="${visits} and ${visits.size()}">There are no visits</h3>
    <h2 th:if="${visits.size()>0}" th:text="'Total Records: ' + ${visits.size}"></h2>
    <table th:if="${visits.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>Date</th>
        <th>Patient Id</th>
        <th>Patient Name</th>
        <th>Doctor Id</th>
        <th>Doctor Name</th>
        <th></th>
        <th></th>
        <tr th:each="visit : ${visits}">
            <td th:text="${visit.id}"></td>
            <td th:text="${visit.date}"></td>
            <td th:text="${visit.patient.id}"></td>
            <td th:text="${visit.patient.name}"></td>
            <td th:text="${visit.doctor.id}"></td>
            <td th:text="${visit.doctor.name}"></td>
        </tr>
    </table>
    </div>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>